<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fenway</key>
	<dict>
		<key>frame</key>
		<string>100, 100, 200, 200</string>
		<key>text</key>
		<string>This is help Fenway</string>
		<key>interaction</key>
		<string>YES</string>
	</dict>
	<key>Building</key>
	<dict>
		<key>frame</key>
		<string>2, 2, 100, 100</string>
		<key>text</key>
		<string>Building</string>
		<key>interaction</key>
		<string>NO</string>
	</dict>
</dict>
</plist>
