<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fenway</key>
	<dict>
		<key>text</key>
		<string>This is Fenway</string>
		<key>images</key>
		<array>
			<string>01.jpg</string>
			<string>02.jpg</string>
			<string>03.jpg</string>
		</array>
	</dict>
	<key>Building</key>
	<dict>
		<key>text</key>
		<string>This is Building</string>
	</dict>
	<key>Location</key>
	<dict>
		<key>text</key>
		<string>This is Location</string>
		<key>images</key>
		<array>
			<string>01.jpg</string>
		</array>
	</dict>
</dict>
</plist>
